In [118]:
import pandas as pd
import time

start_time = time.time()

In [119]:
DEBUG = False
# DEBUG = True

In [120]:
poi_path = "/Users/user/Documents/Coding/cro_location_intelligence/reverse_image_search/all_pois 1.feather"

In [121]:
poi_df = pd.read_feather(poi_path)
poi_df.head()

,index,sub_code_name,namt,latitude,longitude,last_edited_date,db_date,type
0,0,จุดข้ามถนน,None,7.959148,98.383732,2019-03-15 04:17:25,2023-08-21,cross_street
1,1,จุดข้ามถนน,None,15.719866,100.099756,2019-03-15 04:17:25,2023-08-21,cross_street
2,2,จุดข้ามถนน,ถ.นครสวรรค์ ต.ตลาด อ.เมือง จ.ร้อยเอ็ด,16.184609,103.303293,2019-03-15 04:17:25,2023-08-21,cross_street
3,3,จุดข้ามถนน,None,12.665852,101.297993,2019-03-15 04:17:25,2023-08-21,cross_street
4,4,จุดข้ามถนน,None,13.563442,100.532670,2019-03-30 01:30:14,2023-08-21,cross_street

In [122]:
poi_df.shape

(1645243, 8)

In [123]:
poi_df.type.value_counts()

low_rise_residential_area    469741
office_building              347488
entertainment_area           194019
government_area              133933
entry_point                  127576
high_rise_residential        101419
education_area                72860
healthcare_centers            57059
industrial_area               38241
housing_residential_area      29275
tourism_area                  23096
gas_stations                  21191
competitors                   14740
market_area                   10978
public_transportation          2375
transportation_center          1208
utern                            23
cross_street                     21
Name: type, dtype: int64

In [175]:
poi_df.type.value_counts().keys().to_list()

['low_rise_residential_area',
 'office_building',
 'entertainment_area',
 'government_area',
 'entry_point',
 'high_rise_residential',
 'education_area',
 'healthcare_centers',
 'industrial_area',
 'housing_residential_area',
 'tourism_area',
 'gas_stations',
 'competitors',
 'market_area',
 'public_transportation',
 'transportation_center',
 'utern',
 'cross_street']

In [124]:
value_count_poi_type = poi_df.type.value_counts()
value_count_poi_type

low_rise_residential_area    469741
office_building              347488
entertainment_area           194019
government_area              133933
entry_point                  127576
high_rise_residential        101419
education_area                72860
healthcare_centers            57059
industrial_area               38241
housing_residential_area      29275
tourism_area                  23096
gas_stations                  21191
competitors                   14740
market_area                   10978
public_transportation          2375
transportation_center          1208
utern                            23
cross_street                     21
Name: type, dtype: int64

In [125]:
value_count_sub_code_name = poi_df.sub_code_name.value_counts()

In [126]:
value_count_sub_code_name

ประตูทางเข้า-ออก               127576
บริษัท...จำกัด อื่น ๆ          125497
สวนอาหาร/ภัตตาคาร/ร้านอาหาร    123926
อาคารสำนักงานให้เช่า            46512
วัด                             46037
                                ...
สถานบันเทิงตอนกลางคืน               1
สถานีบริการน้ำมันโมบิล              1
สถานีบริการน้ำมันบีพี               1
โชว์รูมจากัวร์                      1
โชว์รูมเฟียต                        1
Name: sub_code_name, Length: 451, dtype: int64

In [127]:
# count value that > 10
value_count_sub_code_name[value_count_sub_code_name > 100]

ประตูทางเข้า-ออก                          127576
บริษัท...จำกัด อื่น ๆ                     125497
สวนอาหาร/ภัตตาคาร/ร้านอาหาร               123926
อาคารสำนักงานให้เช่า                       46512
วัด                                        46037
                                           ...
ยาโยอิ                                       106
Coffee World                                 106
สวนสัตว์/ฟาร์มจระเข้/Aquarium                104
โรงไฟฟ้า การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย       102
ธนาคารอิสลามแห่งประเทศไทย                    102
Name: sub_code_name, Length: 275, dtype: int64

In [128]:
seven_eleven_location_path = "/Users/user/Documents/Coding/cro_location_intelligence/reverse_image_search/7-11 Location for Ford.xlsx"
seven_eleven_location_df = pd.read_excel(seven_eleven_location_path)
seven_eleven_location_df

       store_id      prov_namt   latitude   longitude
0          1025  กรุงเทพมหานคร  13.838724  100.575318
1          1026       ปทุมธานี  14.036545  100.733520
2          1028           ตรัง   7.567873   99.614094
3          1032  กรุงเทพมหานคร  13.719625  100.442061
4          1033  กรุงเทพมหานคร  13.768390  100.721288
...         ...            ...        ...         ...
11113     18470         ภูเก็ต   7.769669   98.315506
11114     18547          ระยอง  12.702336  101.268396
11115     18604        นครนายก  14.109885  101.018226
11116     18560       ร้อยเอ็ด  16.031557  103.946226
11117     18517   สุราษฎร์ธานี   9.558454  100.032172

[11118 rows x 4 columns]

In [129]:
desired_dist = 1000  # in meters
from geopy import distance

coords_i = (13.719625, 100.442061)
coords_j = (13.768390, 100.721288)
D_ij = distance.geodesic(coords_i, coords_j).km

In [130]:
D_ij

30.67725213217945

In [131]:
value_count_sub_code_name.keys()

Index(['ประตูทางเข้า-ออก', 'บริษัท...จำกัด อื่น ๆ',
       'สวนอาหาร/ภัตตาคาร/ร้านอาหาร', 'อาคารสำนักงานให้เช่า', 'วัด',
       'โรงเรียนสามัญ', 'เสริมสวย ความงาม และนวดเพื่อสุขภาพ', 'ร้านค้าอื่น ๆ',
       'ร้านกาแฟ ไอศครีมและเบอร์เกอรี่อื่นๆ',
       'อุปกรณ์ตกแต่งบ้าน อุปกรณ์ก่อสร้าง',
       ...
       'จอย', 'UMG Cineplex', 'ศูนย์การขนส่งสินค้า', 'โชว์รูมออดี้',
       'ธนาคารสแตนดาร์ดชาร์เตอร์ด (ไทย)', 'สถานบันเทิงตอนกลางคืน',
       'สถานีบริการน้ำมันโมบิล', 'สถานีบริการน้ำมันบีพี', 'โชว์รูมจากัวร์',
       'โชว์รูมเฟียต'],
      dtype='object', length=451)

In [132]:
interest_poi_gdf = poi_df.copy()
seven_eleven_location_gdf = seven_eleven_location_df.copy()
import geopandas as gpd
from shapely.geometry import Point

# make it geodataframe then plot lat lon on map with 500m radius
seven_eleven_location_gdf = gpd.GeoDataFrame(
    seven_eleven_location_gdf,
    geometry=gpd.points_from_xy(
        seven_eleven_location_gdf.longitude, seven_eleven_location_gdf.latitude
    ),
)
# draw it on map
# buffer it 500m
import pyproj

# Assuming seven_eleven_location_gdf is your GeoDataFrame with latitude and longitude

# Create a GeoDataFrame with Point geometries
geometry = [
    Point(xy)
    for xy in zip(
        seven_eleven_location_gdf["longitude"], seven_eleven_location_gdf["latitude"]
    )
]
seven_eleven_location_gdf = gpd.GeoDataFrame(
    seven_eleven_location_gdf, geometry=geometry, crs="EPSG:4326"
)

# Reproject to UTM zone 47N
seven_eleven_location_gdf = seven_eleven_location_gdf.to_crs("EPSG:32647")

# Buffer with 500 meters
buffer_size = 500
seven_eleven_location_gdf["geometry"] = seven_eleven_location_gdf["geometry"].buffer(
    buffer_size
)

# Optionally, reproject back to WGS84 if needed
seven_eleven_location_gdf = seven_eleven_location_gdf.to_crs("EPSG:4326")

In [133]:
import geopandas as gpd
from shapely.geometry import Point

# Assuming interest_poi_gdf is your GeoDataFrame with latitude and longitude

# Create a GeoDataFrame with Point geometries
geometry_poi = [
    Point(xy) for xy in zip(interest_poi_gdf["longitude"], interest_poi_gdf["latitude"])
]
interest_poi_gdf = gpd.GeoDataFrame(
    interest_poi_gdf, geometry=geometry_poi, crs="EPSG:4326"
)

# Reproject to UTM zone 47N
interest_poi_gdf = interest_poi_gdf.to_crs("EPSG:32647")

# Optionally, reproject back to WGS84 if needed
interest_poi_gdf = interest_poi_gdf.to_crs("EPSG:4326")

# Now, interest_poi_gdf contains a Point geometry column

# Now, seven_eleven_location_gdf contains a buffer column with 500-meter buffers

In [134]:
if DEBUG:
    interest_poi_gdf[:100].explore()

In [135]:
if DEBUG:
    seven_eleven_location_gdf[:100].explore()

In [136]:
# Merge the buffer polygons
merged_buffer = seven_eleven_location_gdf.unary_union

# Intersect the merged buffer with the points of interest

# Optional: You can keep only the columns you need in the result
# result = result[["your_desired_columns"]]

In [137]:
# create it with 1 single buffer
merged_gdf = gpd.GeoDataFrame(  # create a geodataframe
    geometry=gpd.GeoSeries(merged_buffer), crs="EPSG:4326"
)
# merged_gdf

In [138]:
if DEBUG:
    merged_gdf.explore()

In [139]:
result = gpd.sjoin(interest_poi_gdf, merged_gdf, op="intersects", how="inner")
# remove right index
result = result.drop(columns=["index_right"])
interest_poi_gdf = result

/Users/user/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [140]:
# if DEBUG:

# result[:len(result)//5].explore()

In [141]:
count_poi_result = gpd.sjoin(
    seven_eleven_location_gdf, interest_poi_gdf, op="intersects", how="inner"
)

/Users/user/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [142]:
count_poi_result.columns

Index(['store_id', 'prov_namt', 'latitude_left', 'longitude_left', 'geometry',
       'index_right', 'index', 'sub_code_name', 'namt', 'latitude_right',
       'longitude_right', 'last_edited_date', 'db_date', 'type'],
      dtype='object')

In [143]:
print("count_poi_result.shape\t\t", count_poi_result.shape)
print("seven_eleven_location_gdf\t", seven_eleven_location_gdf.shape)
print("interest_poi_gdf\t\t", interest_poi_gdf.shape)

count_poi_result.shape		 (2480271, 14)
seven_eleven_location_gdf	 (11118, 5)
interest_poi_gdf		 (807612, 9)

In [144]:
count_poi_result.head()

,store_id,prov_namt,latitude_left,longitude_left,geometry,index_right,index,sub_code_name,namt,latitude_right,longitude_right,last_edited_date,db_date,type
0,1025,กรุงเทพมหานคร,13.838724,100.575318,"POLYGON ((100.57994 13.83869, 100.57992 13.838...",13288,13273,ลอว์สัน 108,ลอว์สัน 108,13.834346,100.576416,2022-06-11 02:06:19,2023-08-21,competitors
1430,3929,กรุงเทพมหานคร,13.838349,100.574557,"POLYGON ((100.57918 13.83832, 100.57916 13.837...",13288,13273,ลอว์สัน 108,ลอว์สัน 108,13.834346,100.576416,2022-06-11 02:06:19,2023-08-21,competitors
5733,10943,กรุงเทพมหานคร,13.833117,100.579088,"POLYGON ((100.58371 13.83309, 100.58369 13.832...",13288,13273,ลอว์สัน 108,ลอว์สัน 108,13.834346,100.576416,2022-06-11 02:06:19,2023-08-21,competitors
5930,11220,กรุงเทพมหานคร,13.834497,100.572717,"POLYGON ((100.57734 13.83447, 100.57732 13.834...",13288,13273,ลอว์สัน 108,ลอว์สัน 108,13.834346,100.576416,2022-06-11 02:06:19,2023-08-21,competitors
9111,16241,กรุงเทพมหานคร,13.834617,100.580956,"POLYGON ((100.58558 13.83459, 100.58556 13.834...",13288,13273,ลอว์สัน 108,ลอว์สัน 108,13.834346,100.576416,2022-06-11 02:06:19,2023-08-21,competitors

In [145]:
interest_count_poi_result = count_poi_result.copy()
seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf.copy()

interest_column = ["store_id", "sub_code_name", "type"]
interest_count_poi_result = interest_count_poi_result[interest_column]
# group by store_id
interest_count_poi_result_type = interest_count_poi_result.groupby(
    ["store_id", "type"]
).size()

interest_count_poi_result_type
# check nan
print(interest_count_poi_result_type.isnull().sum())
# update interest_count_poi_result_type to seven_eleven_location_gdf_with_poi in new column
interest_count_poi_result_type = interest_count_poi_result_type.unstack()
# if value_count_poi_type.keys()  is not interest_count_poi_result_type column add it
for key in value_count_poi_type.keys():
    if key not in interest_count_poi_result_type.columns:
        interest_count_poi_result_type[key] = 0
interest_count_poi_result_type = interest_count_poi_result_type.fillna(0)

interest_count_poi_result_type = interest_count_poi_result_type.astype(int)
interest_count_poi_result_type = interest_count_poi_result_type.reset_index()
# merge with seven_eleven_location_gdf_with_poi
seven_eleven_location_gdf_with_poi = pd.merge(
    seven_eleven_location_gdf, interest_count_poi_result_type, on="store_id"
)
seven_eleven_location_gdf_with_poi.head()

0

,store_id,prov_namt,latitude,longitude,geometry,competitors,cross_street,education_area,entertainment_area,entry_point,...,high_rise_residential,housing_residential_area,industrial_area,low_rise_residential_area,market_area,office_building,public_transportation,tourism_area,transportation_center,utern
0,1025,กรุงเทพมหานคร,13.838724,100.575318,"POLYGON ((100.57994 13.83869, 100.57992 13.838...",7,0,10,171,15,...,74,1,0,209,4,88,17,5,0,0
1,1026,ปทุมธานี,14.036545,100.733520,"POLYGON ((100.73815 14.03651, 100.73812 14.036...",8,0,11,86,3,...,89,3,0,165,4,32,0,1,0,0
2,1028,ตรัง,7.567873,99.614094,"POLYGON ((99.61863 7.56787, 99.61860 7.56742, ...",1,0,19,32,3,...,5,3,1,75,0,37,0,0,0,0
3,1032,กรุงเทพมหานคร,13.719625,100.442061,"POLYGON ((100.44668 13.71960, 100.44666 13.719...",1,0,5,18,5,...,11,3,2,69,0,27,0,0,0,0
4,1033,กรุงเทพมหานคร,13.768390,100.721288,"POLYGON ((100.72591 13.76836, 100.72589 13.767...",4,0,5,32,6,...,4,12,4,65,1,59,0,0,0,0

In [146]:
# do for sub_code_name
interest_count_poi_result_sub_code_name = interest_count_poi_result.groupby(
    ["store_id", "sub_code_name"]
).size()

interest_count_poi_result_sub_code_name
# check nan
print(interest_count_poi_result_sub_code_name.isnull().sum())
# update interest_count_poi_result_type to seven_eleven_location_gdf_with_poi in new column
interest_count_poi_result_sub_code_name = (
    interest_count_poi_result_sub_code_name.unstack()
)
# if value_count_poi_type.keys()  is not interest_count_poi_result_type column add it
for key in value_count_sub_code_name.keys():
    if key not in interest_count_poi_result_sub_code_name.columns:
        interest_count_poi_result_sub_code_name[key] = 0
interest_count_poi_result_sub_code_name = (
    interest_count_poi_result_sub_code_name.fillna(0)
)
# int
interest_count_poi_result_sub_code_name = (
    interest_count_poi_result_sub_code_name.astype(int)
)
interest_count_poi_result_sub_code_name = (
    interest_count_poi_result_sub_code_name.reset_index()
)
# merge with seven_eleven_location_gdf_with_poi
seven_eleven_location_gdf_with_poi = pd.merge(
    seven_eleven_location_gdf_with_poi,
    interest_count_poi_result_sub_code_name,
    on="store_id",
)
seven_eleven_location_gdf_with_poi.head()

0

,store_id,prov_namt,latitude,longitude,geometry,competitors,cross_street,education_area,entertainment_area,entry_point,...,ด่านศุลกากร,ท่าเรือพาณิชย์,โรงภาพยนตร์,อุทยานแห่งชาติ,สหกรณ์,ศูนย์สวัสดิการ/สถานสงเคราะห์,สวนสัตว์/พิพิธภัณฑ์สัตว์น้ำ,ศูนย์การขนส่งสินค้า,สถานบันเทิงตอนกลางคืน,สถานีบริการน้ำมันโมบิล
0,1025,กรุงเทพมหานคร,13.838724,100.575318,"POLYGON ((100.57994 13.83869, 100.57992 13.838...",7,0,10,171,15,...,0,0,0,0,0,0,0,0,0,0
1,1026,ปทุมธานี,14.036545,100.733520,"POLYGON ((100.73815 14.03651, 100.73812 14.036...",8,0,11,86,3,...,0,0,0,0,0,0,0,0,0,0
2,1028,ตรัง,7.567873,99.614094,"POLYGON ((99.61863 7.56787, 99.61860 7.56742, ...",1,0,19,32,3,...,0,0,0,0,0,0,0,0,0,0
3,1032,กรุงเทพมหานคร,13.719625,100.442061,"POLYGON ((100.44668 13.71960, 100.44666 13.719...",1,0,5,18,5,...,0,0,0,0,0,0,0,0,0,0
4,1033,กรุงเทพมหานคร,13.768390,100.721288,"POLYGON ((100.72591 13.76836, 100.72589 13.767...",4,0,5,32,6,...,0,0,0,0,0,0,0,0,0,0

In [159]:
# get all unique store_id from seven_eleven_location_gdf_with_poi
store_id_list = seven_eleven_location_gdf_with_poi.store_id.unique()
# get  all unique store_id from seven_eleven_location_gdf
store_id_list_ori = seven_eleven_location_gdf.store_id.unique()
# find difference
store_id_list_diff = list(set(store_id_list_ori) - set(store_id_list))
store_id_list_diff
# add store_id_list_diff to seven_eleven_location_gdf_with_poi
for store_id in store_id_list_diff:
    seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf_with_poi.append(
        seven_eleven_location_gdf[seven_eleven_location_gdf.store_id == store_id]
    )

/var/folders/9g/3rr3k99j0td2974k71sy46_h0000gp/T/ipykernel_5246/714459187.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf_with_poi.append(
/var/folders/9g/3rr3k99j0td2974k71sy46_h0000gp/T/ipykernel_5246/714459187.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf_with_poi.append(
/var/folders/9g/3rr3k99j0td2974k71sy46_h0000gp/T/ipykernel_5246/714459187.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf_with_poi.append(

In [161]:
store_id_list_diff

[17379, 14725, 4566]

In [163]:
# fillna 0
seven_eleven_location_gdf_with_poi = seven_eleven_location_gdf_with_poi.fillna(0)

In [166]:
# for all column try convert to int
for col in seven_eleven_location_gdf_with_poi.columns:
    try:
        seven_eleven_location_gdf_with_poi[col] = seven_eleven_location_gdf_with_poi[
            col
        ].astype(int)
    except:
        pass

In [167]:
seven_eleven_location_gdf.shape, seven_eleven_location_gdf_with_poi.shape

((11118, 5), (11118, 474))

In [168]:
# save
seven_eleven_location_gdf_with_poi.to_feather(
    "seven_eleven_location_gdf_with_poi.feather"
)

In [148]:
# print used time
print("--- %s seconds ---" % (time.time() - start_time))

--- 126.42635178565979 seconds ---

In [171]:
import pandas as pd

# Assuming df is your DataFrame
df = pd.DataFrame({"A": [1, 2, 3], "B": ["X", "Y", "Z"], "C": [4.5, 6.7, 8.9]})

# Convert DataFrame to dictionary with columns as keys
result_dict = df.to_dict(orient="records")

print(result_dict)

[{'A': 1, 'B': 'X', 'C': 4.5}, {'A': 2, 'B': 'Y', 'C': 6.7}, {'A': 3, 'B': 'Z', 'C': 8.9}]

In [173]:
result_dict[0]

{'A': 1, 'B': 'X', 'C': 4.5}